<h1>Stock Tracker</h1>

<%= form_tag root_path, :method => 'POST' do %>
	<%= text_field_tag 'ticker', nil, placeholder: "   Enter Ticker Symbol", size: 50 %>
	<%= submit_tag 'Lookup' %>
<% end %>

<!-- We checked for the stock symbol in home_controller.rb -->
<% if @stock %>
    <%= @stock.company_name %><br/>
    Latest price = $ <%= @stock.latest_price %><br/>
<% elsif @invalid_symbol_msg %>
	<%= @invalid_symbol_msg %>
<% elsif @nothing_msg %>  <!-- nothing entered -->
		<%= @nothing_msg %>
<% end %>

<!--
	put the statement below in home_controller.rb
<% stock = StockQuote::Stock.quote("fb") %>
	$ <%= stock.latest_price %> -->

<!-- <%= stock.inspect %> -->
