<!DOCTYPE html>
<html>
  <head>
    <title>Stock Tracker</title>  <!! For Tab
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br/>Hi mom!
      <%= render 'home/navbar' %>

      <!-- Having container here indents everything just a bit -->
      <div class="container">
          <%= yield %>
      </div>
      <%= render 'home/footer' %>
  </body>
</html>
